# Virtual Environment
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IREE Artifacts
*.vmfb
*.mlir
*.onnx

# Logs & Profiling
logs/
*.ncu-rep
*.nsys-rep

# Datasets
datasets/imagenet_1k/

# OS Specific
.DS_Store

GEMINI.md
plan.md