# Virtual Environment
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IREE Artifacts
*.vmfb
*.mlir
*.onnx

# Models
models/
!models/README.md
!models/export_onnx_optimum.py
!models/download_model_from_huggingface.py

# Logs & Profiling
logs/
*.ncu-rep
*.nsys-rep

# Datasets
datasets/*
!datasets/**/*.py
!datasets/**/*.md

# OS Specific
.DS_Store

#Agent Workspace
.agent/
GEMINI.md
plan.md
scratchpad.md
